<style>
    figure {
        /* width: 15%; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        /* height: ; */
    }

    figcaption {
        margin-top: 20px;
        font-size: 1.6em;
        word-break: break-word;
        ;
    }
</style>
<figure>
    <img src="<%=user.thumbnail%>" />
    <figcaption> <%= user.username %></figcaption>
    <div class="ranking">
        <i class="fas fa-crown"></i> <span>2105</span>
    </div>

</figure>