<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Waiting for players</title>
             <!-- Font Awesome -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
		      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
		      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/css/mdb.min.css" rel="stylesheet">
		<style>
			#waitingMeg{
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		</style>


    </head>
    <body>
		<div id = "waitingMeg">
			<h1>Waiting for players...</h1>
			<div class="fa fa-spinner fa-spin"></div>
		</div>

<!--
			var line1 = $('<h1></h1>').text(message);
	var line2 = $('<h2></h2>').text('Waiting for players...');
	line2.append('<div class="fa fa-spinner fa-spin"></div>');
	var html = $('<div id = "waitingMeg"></div>').append(line1).append(line2);
	$('.message').append(html);
-->
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Bootstrap tooltips -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
      <!-- Bootstrap core JavaScript -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>

    </body>
</html>