.chessBoard{
/*	height: 100%;*/
	
	
	position: relative;
	background: linear-gradient(to right bottom, #ffefba, #fff3c8);
	border-radius: 20px;
/*	box-shadow: 3px 3px 3px 3px lightgray, -3px 3px 3px 3px lightgray ;*/
	
/*	position: absolute;*/

	
/*	min-height: 500px;*/
}


body {
  /* The image used */  /* Center and scale the image nicely */
	background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7))
    ,url(../assets/img/bg-chess-room.jpg)center/cover fixed no-repeat;
}

/*
.right-of-board{
    margin-left: 5px;
}
*/

.message{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#right-of-board{
	height: 100%;
	flex-basis: 25%
}

#ppl-container {
	
}

#chats-container {
	flex-basis: 400px
}

#chats-container li {
	width: 100%;
}

#message-post{

}

p{
	width: 100px;
}