*{
	font-family: 'Oswald', sans-serif;
}

.chessBoard{
	
	border: 1px solid black;
	background: linear-gradient(to right bottom, #ffefba, #fff3c8);
/*	position: absolute;*/

	
	height: 100%;
/*	min-height: 500px;*/
	width: auto;
}

/*
.chatBox{
	right: auto;	
	width: 100;
	height: 50px;
}
*/
.top-right{
	display: inline-block;
	position: absolute;
	right: 2%;
	top: 2%;
	height: 100%;

}

.img-container{
	
}

.img-container img{
	height: 100px;
	width: auto;
	margin: 20px 0;
	border: 2px solid red;
	border-radius: 100%;
/*	user-select: none;*/
}

#left-avatar{
	margin-right: 40px;
}

.img-wrapper{
	display: inline-block;	
/*	border: 2px solid red;*/
}

.board-wrapper {
	display: flex;
	position: relative;
	top: 0;
	left: 25%;
}

.button-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.button-container button{
	min-width: 80px;
	margin: 20px;
}

#bg{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
}

#msgInput{
	height: 40px;
}

.input-send {
	width: 200px;
	position: absolute;
	bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media(max-width: 420px){
	.chessBoard{
		left: 0;
		top: 25%;
	}
}
/*

button{
	width: 100%;
	display: block;
	right:auto;

	padding: 20px 50px;
	
	
	color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;

    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;

}
*/
/*
button:hover{
	
	border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}
button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}
*/

/*
.player1,.player2{
	padding: 50px 50px;
	border: 1px solid black;

}
.dialogBox{
	border: 1px solid black;
	padding: 300px 60px;
	display: inline-block;
	position: absolute;
	left: 65%;
}
.nav-container{
	position: relative;
	padding: 0 20px;
    display:flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
#options{
	padding: 30px;
}
#options:hover{
	color:#70798C;
    transform: translateY(-10px);
}
*/

