.chessBoard{
	height: 100%;
	position: relative;
	background: linear-gradient(to right bottom, #ffefba, #fff3c8);
	border-radius: 20px;
/*	box-shadow: 3px 3px 3px 3px lightgray, -3px 3px 3px 3px lightgray ;*/
	
}


body {
  /* The image used */  /* Center and scale the image nicely */

	overflow: hidden;
}
	

.message{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#right-of-board{
/*	height: 100%;*/
	flex-basis: 25%
}

#ppl-container {
	
}

#chats-container{
	height: 75%;
	overflow-y: auto
}
/*
.list-group{
	height: 95%
}
*/
.chat p{
	word-break: break-word
}

#message-post{

}

.timer-container{
	box-shadow:0 2px 10px 1px rgba(50,70,112,.4);

}

.stone{
	height: 2rem;
	width: auto
}
