

body {
  /* The image used */  /* Center and scale the image nicely */
	background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5))
    ,url(../assets/img/bg-index.jpg)center/cover fixed no-repeat;
  /* Full height */
  height: 100%;
	

}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: white;
}

